.UserInfo img{
    height: 60px;
}
.UserInfo h3{
    margin-left: 10px;
}

.UserInfo {
        display: flex;
    justify-content: space-between;

}
.UserInfo div {
    width: 45%;
    display: flex;
    align-items: center;

    
   
}
.UserInfo div *{ 
    display: inline-block;
    vertical-align: middle;
}

.actions {
    display: flex;
    justify-content: space-between;

}