button {
  height: 20px;
}

.content {
  margin: 4% 5% 4%;
  padding: 0 10px;
}

h2 {
  color: #0000009c;
}
.alignleft {
  text-align: left;
}

.logoutButton{
  position: absolute ;
  right: 5%;
  top : 1%;

}

/**scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E8EAEC;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/**scroll bar end*/